<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>1</string>
		<key>image</key>
		<string>ali_1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>2</string>
		<key>image</key>
		<string>ali_2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>3</string>
		<key>image</key>
		<string>ali_3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>4</string>
		<key>image</key>
		<string>ali_4</string>
	</dict>
	<dict>
		<key>text</key>
		<string>5</string>
		<key>image</key>
		<string>ali_5</string>
	</dict>
	<dict>
		<key>text</key>
		<string>6</string>
		<key>image</key>
		<string>ali_6</string>
	</dict>
	<dict>
		<key>text</key>
		<string>7</string>
		<key>image</key>
		<string>ali_7</string>
	</dict>
	<dict>
		<key>text</key>
		<string>8</string>
		<key>image</key>
		<string>ali_8</string>
	</dict>
	<dict>
		<key>text</key>
		<string>9</string>
		<key>image</key>
		<string>ali_9</string>
	</dict>
	<dict>
		<key>text</key>
		<string>10</string>
		<key>image</key>
		<string>ali_10</string>
	</dict>
	<dict>
		<key>text</key>
		<string>11</string>
		<key>image</key>
		<string>ali_11</string>
	</dict>
	<dict>
		<key>text</key>
		<string>12</string>
		<key>image</key>
		<string>ali_12</string>
	</dict>
</array>
</plist>
