<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>照片</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Photo</string>
	</dict>
	<dict>
		<key>text</key>
		<string>拍摄</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Video</string>
	</dict>
	<dict>
		<key>text</key>
		<string>视频通话</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Videovoip</string>
	</dict>
	<dict>
		<key>text</key>
		<string>位置</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Location</string>
	</dict>
	<dict>
		<key>text</key>
		<string>红包</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Luckymoney</string>
	</dict>
	<dict>
		<key>text</key>
		<string>转账</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Pay</string>
	</dict>
	<dict>
		<key>text</key>
		<string>语音输入</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Voiceinput</string>
	</dict>
	<dict>
		<key>text</key>
		<string>收藏</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_MyFav</string>
	</dict>
	<dict>
		<key>text</key>
		<string>个人名片</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_FriendCard</string>
	</dict>
	<dict>
		<key>text</key>
		<string>文件</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Files</string>
	</dict>
	<dict>
		<key>text</key>
		<string>卡券</string>
		<key>image</key>
		<string>ChatRomm_ToolPanel_Icon_Wallet</string>
	</dict>
</array>
</plist>
